body {
  font-family: Arial, sans-serif;
  background-color: #1f1a1a;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: rgb(243, 59, 90);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
}

.App h1 {
  color: #1f1a1a;
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
}

form {
  display: flex;
  flex-direction:column;
}

input {
  height: 30px;
  padding-left: 20px;
  margin-bottom: 10px;
  border: 5px groove #41092e;
  border-radius: 25px 0px ;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ec832e;
  color: #fff;
}

button:hover {
  background-color: #305072;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

li button {
  margin-left: 10px;
}
